.container{
  background: #fff;
  overflow-y: scroll;
  .loginBtn{
    color: #fff;
    background: linear-gradient(-90deg,rgba(255,178,1,1),rgba(255,191,1,1));
  }
  button::after{
    border:none;
  }
}
::v-deep .van-cell {
  display: flex;
  align-items: center;
  .van-field__left-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
::v-deep .van-button--default {
  border: none;
  color: #f9ae08;
}
