.f-l {
  float: left !important;
}

.f-r {
  float: right !important;
}

.inline-block-display {
  display: inline-block !important;
}

.m-a {
  margin: auto !important;
}

.o-a {
  overflow: auto !important;
}

.o-y-a {
  overflow-y: auto !important;
}

.center {
  text-align: center !important;
}
.pointer {
  cursor: pointer;
}

.weight {
  font-weight: 500 !important;
}

// border-radius begin.
$br-size: 1;

@while $br-size <=20 {
  .br-#{$br-size} {
    border-radius: 1px * $br-size !important;
  }

  $br-size: $br-size + 1;
}

// border-radius end.

.required-mask {
  color: red;
  margin-right: 3px;
}

.bold {
  font-weight: 550;
}

.black {
  color: rgba(0, 0, 0, 0.75);
}

.label {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 550;
}

.title {
  color: rgba(0, 0, 0, 0.65);
  font-weight: 550;
}

.title-normal {
  color: #333333;
}

.deprecate {
  text-decoration: line-through;
}
